
{% extends 'head.html'%}
<body>
    {% block content %}
    {%include "encabezado.html" %}
    <section>
        <script src="{{ url_for('static', filename='funcion_cal1.js') }}"></script>
        <div class="cabeza">
            <h2 class="pp">Calculadora</h2>
        </div>
        
        <br>
        <div class="inp">

            <input  type="number" id="num1" placeholder="ingresa un numero" required> 
            <p class="op" id="operador"> </p>
            <input  type="number" id="num2" placeholder="ingresa otro numero" required>
        </div>
        <!--<br>-->
        <div class="pp">
            <button class="boton" onclick="suma()">sumar</button>
            <button class="boton" onclick="multiplicacion()">multiplicar</button>
            <button class="boton" onclick="restar()">restar</button>
            <button class="boton" onclick="raiz()">raiz</button>
            <!-- <a href ="pag2.html">
                <button class="boton" onclick="raiz()">logaritmo</button>
            </a> -->
            
        </div>
        <p id="res" class="pp"></p>
        <p id="res2" class="pp"></p>
    </section>
</body>
{% endblock %}
