html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #8FAD88;

}

section{
    background-color: #8FAD88;
    width: 100%;
    animation: aparecer 2s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.calculadora {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 0, 0);
}

.teclado {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    margin-left: 7%;
    margin-top: 2.5%;

    /* background-color: chocolate; */
}

.opera {
    box-sizing: border-box;
    display: flex;
    /* background-color: rgb(65, 126, 218); */
    width: 95%;
    min-height: 10%;
    margin: auto;
    margin-bottom: 0.5%;
    font-size: 135%;
    justify-content: flex-end;
    align-items: center;
    border: 5px solid black;
}
.boton {
    box-sizing: border-box;
    width: 7%; /*ancho */
    height: 95%;
    margin: 0.25%;
    border: 2px solid black;
    background-color: #7F9C96;
    transition: background 0.25s linear;

    /* padding: 0; */
}

.boton:hover {
    background-color: #1b4079;
}

header {
   
    margin-top: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    text-align: center;
    background-color: #4D7C8A;
    height: 15%;
    padding-bottom: 10%;
    flex-direction: column;
    width: 100%;
}

.res {
    box-sizing: border-box;
    margin-left: 5%;
    display: flex;
    align-items: center;
    background-color: aqua;
    width: 50%;
    height: 70%;
    text-align: left;
    text-indent: 1%;
    box-sizing: border-box;
    font-size: 150%;
    border: 2px solid black;
    white-space: nowrap;
}
.fila {
    box-sizing: border-box;
    /* background-color: chartreuse; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}
.boton_borrar {
    width: 14.5%;
}
.pe {
    box-sizing: border-box;
    margin-left: 5%;
    /* background-color: brown; */
    width: 80%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 100%;

}

.navegar {
    /* background-color: blueviolet; */
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
}

.navegar a {
    color: white;
    font-size: 150%;
    text-decoration:none;
}


/* animaciones */

@keyframes aparecer {

    from{
        opacity: 0;;
    }

    to {
        opacity: 100%;;
    }
    
}


/*  */

.inp {
    height: 30px;
    display: flex; 
    text-align: center;
    justify-content: center;
}
.op {
    font-size: 20px;
    text-align: center;
    margin: 1.25px 2.5px; 
}

.cabeza {
    background-color: orange;
    width: 300px;
    height: 50px;
    margin: auto;
}

.pp {
    text-align: center;
    margin-top: 10px;
}

.inicio {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

@media (max-width: 600px) {

  .boton {
    width: 10%; /*ancho */
    height: 95%;
    margin: 0.25%;
    border: 2px solid black;
    background-color: #7F9C96;
    transition: background 0.25s linear;

    /* padding: 0; */
    }
    .teclado {
     
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: left;
        margin-left: 7%;
        margin-top: 2.5%;

        /* background-color: chocolate; */
    }

    .calculadora {
   
    width: 100%;
    height: 75%;
    margin: auto;
    text-align: center;
    /* background-color: rgb(255, 0, 0); */
    }

    .res {
        box-sizing: border-box;
        margin-left: 2.5%;
        display: flex;
        align-items: center;
        background-color: aqua;
        width: 47%;
        height: 70%;
        text-align: left;
        text-indent: 1%;
        box-sizing: border-box;
        font-size: 150%;
        border: 2px solid black;
        white-space: nowrap;
    }

    .fila {
    box-sizing: border-box;
    background-color: chartreuse;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    }

    .boton_borrar {
    width: 20.8%;
    }
    .ab {
        font-size: 80%;
        width: 20%;
    }

}


