.cuadrado {
    width: 200px;
    height: 200px;
    background-color: transparent;
    margin: auto;
    border: white 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotargrande 5s linear 1;
    animation-fill-mode: forwards;
    flex-shrink: 0;
}

header {
    z-index: 2;
    position: absolute;
}

.cua {
    width: 145px;
    height: 145px;
    border-color: red;
    animation: rotarpeque 5.5s linear 1;
    animation-fill-mode: forwards;
}

.cua2 {
    width: 95px;
    height: 95px;
    border-color: blue;
    animation: rotarpeque 6s linear 1;
    animation-fill-mode: forwards;
}

@keyframes rotargrande {
    0% {
        transform: rotate(0deg);
        width: 100%;
        height: 100%;
    }

    10% {

        width: 80%;
        height: 80%;
    }
    20% {
        width: 40%;
        height: 80%;
 
    }
    30% {
        width: 40%;
        height: 80%;
    }

    40% {
        width: 30%;
        height: 70%;
    }

    50% {
        width: 20%;
        height: 60%;
    }

    100% {
        transform: rotate(360deg);
        width: 0px;
        height: 0px;
        display: none;
        opacity: 0%;
    }
}

@keyframes rotarpeque {
    0% {
        transform: rotate(0deg);
        width: 100%;
        height: 100%;
    }

    10% {
        width: 80%;
        height: 80%;
    }
    20% {
        width: 40%;
        height: 80%;
 
    }
    30% {
        width: 80%;
        height: 80%;
    }

    100% {
        transform: rotate(360deg);
        width: 0px;
        height: 0px;
        display: none;
        opacity: 0%;
    }
}

.iniciando {
    background-color: black;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}