body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
input {
    font-size: 16px;
    color: #333;
    width: 100%;
}
label {
    height: min-content;
    font-size: 18px;
    color: #555;
    text-align: left;
}

textarea {
    font-size: 16px;
    color: #333;
    resize: vertical;
    width: 100%;}

.contenedor_formulario {
    background-color: #fff;
    width: 20%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    margin-top: 0;
}
.fomularioo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}
.campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

